<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-radio-button/cells-radio-button.html">
<link rel="import" href="../cells-radio-group/cells-radio-group.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../cells-select/cells-select.html">
<link rel="import" href="cells-medio-pago-ui-styles.html">
<dom-module id="cells-medio-pago-ui">
  <script src="cells-medio-pago-ui.js"></script>
</dom-module>