@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-medio-pago-ui;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}
.some-page-wrapper {
  margin: 50px;
  margin-top: 2%;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}

.content {
  display: flex;
  justify-content: center;
  --cells-st-button-bg-color: transparent;
  --cells-st-button-text-color-transparent: #4d08f0;
  font-family: 'sans-serif';
}

.content {
  display: flex;
  justify-content: center;
  font-family: 'sans-serif';
  color: #4d08f0;
  background-color: transparent;
}

.content-gluo {
  display: flex;
  justify-content: center;
}

.img-content {
  max-width: 301px;
}

.img-content-card {
  max-width: 150px;
  max-height: 150px;
}

.img-content-lukita{
  max-width: 200px;
  max-height: 200px;
}
@media (max-width: 530px) {
  .img-content {
    max-width: 180px;
  }
  
  .img-content-card {
    max-width: 90px;
    max-height: 90px;
  }
  
  .img-content-lukita{
    max-width: 100px;
    max-height: 100px;
 }
  fieldset { min-width: 100%; 
             max-height: 20%}
  input { max-width: 70%; }

  .mes {
    max-width: 50px;
  }
  .año {
    max-width: 50px;
  }
}

/*
        Grid CSS
        */
        .row {
          display: grid;
          padding: 2%;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          grid-column-gap: 2%;
          width: 100%;
        }
  
        .row.is-2 {
          grid-template-columns: repeat(2, 1fr);
        }
  
        .row.is-3 {
          grid-template-columns: repeat(3, 1fr);
        }
  
        .row.is-4 {
          grid-template-columns: repeat(4, 1fr);
        }
        .row.is-rowless {
          padding: 2px 0;
        }

  .container {
    height: 200px;
    border-color: #49A5E6;
  }

  .btn {
    justify-content: center;
    display: flex;
    padding-top: 10%;
  }

  .title {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
    font-weight: bold;
  }