<dom-module id="cells-medio-pago-ui-styles"><template><style>
@charset "UTF-8";
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-medio-pago-ui; 

  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  padding: 1.5em;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 14px;

}

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit; }

fieldset {
  border: 0;
}

label,
input {
  display: block;
  width: 100%;
}

</style></template></dom-module>